.menu {
    position: absolute;
    top: 60px;
    /* Adjust as needed */
    right: 10px;
    /* Adjust as needed */
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 10px;
    display: flex;
    flex-direction: column;
    z-index: 1;
}

.hidden {
    display: none;
}
